@font-face {
    font-family: "montserrat";
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "montserrat";
    src: url(fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 200;
    font-style: normal;
}

*{
    margin: 0;
    padding:    0;
    list-style: none;
    text-decoration: none;
    
    
}
body{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    overflow-x: hidden;
    overflow-y: scroll; 
    width: 100%;
    
  }
 

/* hier begint de header css */
header {
    
    font-family: roboto;
    font-weight: 100;
    background-color: rgb(18, 44, 63);
    height: fit-content;
    width: 100%;
    padding-bottom: 20px;
    
    

}

.logo_container {
    width: fit-content;
    margin: 0 auto;
    
}
.logo_container img  {
    width: 300px;
    
}


.menu_container {
    width: 90%;
   width: fit-content;
   margin: 0 auto;
  
}


.menu_container a { 
    display: inline-block;
    margin:5px ;
    margin-right: 10px;
    margin-left: 10px;
    width: fit-content;
    text-align: right;
    font-family: roboto;
    font-weight: 100;
    font-size: 18px;
    height: 100%;
    color: whitesmoke;
    
}


 
.button_container{
    margin: 0 auto ;
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 20px;
    
    
    
}
#button_header{
    
    padding: 10px;
    font-family: roboto;
    font-weight: 200;
    font-size: 16px;
    color:#002B4A ;
    height: 80px;
    width: 200px;
    background-color: rgb(254, 193, 75);
    
    text-align: center;
    

    border-radius: 5px;
}
#button_header:hover{
    opacity: 0.95;
}
 
.banner_container  {
   
    height: fit-content;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/banner.jpg);
    

}

.banner_right {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    
    
    box-shadow:inset 0 0 0 5000px rgba(0, 0, 0, 0.5);
}
.banner_right h1 {
    width: 100%;
    font-family: roboto;
    font-weight: 100;
    font-size: 30px;
    color: rgb(254, 193, 75);
    
    margin-top: 40px;

}
.banner_right h2 {
    margin: 0 auto;
    font-family: montserrat;
    font-weight: 300;
    font-size: 50px;
    color: whitesmoke;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 30px;
    
    
    
    
}
 

/* hier begint de main css */

main {
    padding-top: 30px;
    font-family: montserrat;
    color: #002B4A;
    height: fit-content;
}
main H1{
    
    text-align: center;
    top: 50px;
    width: fit-content;
    margin: 0 auto;
    font-weight: 200;
    font-size: 40px;
}
main hr {
    border: 2px solid  rgb(254, 193, 75) ;
    width: 200px;
    margin:auto;
    margin-bottom: 50px;
    margin-top: 30px;

}

#form_left {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    
    color: rgb(254, 193, 75);
   
    background-color: #002B4A;
    margin-bottom: 50px;
    
}
#form_left h2 {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 40px;
    font-size: 30px;
    
}
#form_left p {
    font-size:20px;
    line-height: 2;
    
} 
.form_right {
    flex: 1;
    margin-left: 40px;
    width: 80%;
    text-align: center;
}
.form_right input{
    font-family: montserrat;
    font-weight: 100;
    font-size: 20px;
    border: none;
    height: 30px;
    width: 100%; 
    
    border-bottom: 1px solid #002B4A;
    margin-top: 10px;
    margin-bottom: 50px;
   
}

#button_contact {
    margin: 0 auto;
    
    width: 200px;
    border-radius: 5px;
    height: 50px;
    font-weight: 200;
    background-color: #002B4A;
    color: rgb(254, 193, 75);
    border-bottom: none;
    margin-bottom: 50px;

}
#button_contact:hover{
    opacity: 0.8;
}
  /* hier begint de footer css */
  footer
  {   
      background-color: rgba(140, 79, 0, 0.70) ;
  }
  .container_footer {
      margin: 0 auto ;
      font-family: roboto;
      color: whitesmoke;
      flex-direction: row;
      justify-content: center;
  }
  
  .logo_social {
     width: fit-content;
      
     margin: 0 auto;
     
     
      
  
  }
  .logo_social img {
      width: 300px;
  }
  
  .social_icons {
      font-size: 80px;
      display: flex;
      justify-content: space-between;
      
      color: whitesmoke;
  }
  .social_icons a {
      color: whitesmoke;
  }
  
  
  
  
  
  
  .menu_footer{
      text-align: center;
      padding-bottom: 10px;
  
  }
  
  
  .container_footer h3 {
      font-size: 50px;
      margin-bottom: 50px; 
      font-weight: 100;
      margin-top: 50px;
  }
  .menu_footer a {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      text-align: center;
      font-size: 40px;
      margin-bottom:10px ;
      margin-top: 10px;
      font-weight: 100;
      color: whitesmoke
  }
  
  
  .stay_connected{
      text-align: center;
     width: fit-content;
     margin: 0 auto;
      font-weight: 100;
  }
  .stay_connected form{
      
      margin-top: 30px ;
      
  }
  .stay_connected p {
      font-size: 35px;
      width: fit-content;
      margin: 0 auto;
  }
  #form_footer{
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
      height: 80px;
     
      width: 80%;
      
      font-family: roboto;
      font-size: 30px;
      font-weight: 100;
      color: rgba(140, 79, 0, 0.70);
  
  }
  #button_footer {
      margin-top: 50px;
      height: 100px;
      width: 250px;
      
      font-family: roboto;
      color: rgba(140, 79, 0, 0.70);
      background-color: whitesmoke;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 50px;
      border: 0;
      border-radius: 5px;
  }
  .get_in_touch{
     
      margin: 0 auto;
      text-align: center;
      
      width: fit-content;
      padding-bottom: 40px;
  }
  .get_in_touch p {
      font-family: roboto;
      font-weight: 100;
      font-size: 25px;
      
      
  }
  